@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

.container{
  background-color: #E8E8E8;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

.container *{
  font-family: "Martel Sans", sans-serif;
}

.loginBox{
    width: 32em;
    height: 35.5em;
    background-color: #fff;
    padding: 1em 3em;
    outline: 1px solid #CFCFCF;
    box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.452);
    display: flex;
    flex-direction: column;
    place-content: space-around;
    gap: 0.3em;
}

.logo{
    place-self: center;
    width: 13em;
    height: auto;
}

.header{
    display: flex;
    flex-direction: column;
    gap: -3em;
}

.headerH1{
    width: max-content;
    height: max-content;
}

.headerP{
    margin-top: -10px;
    width: max-content;
    height: max-content;
    color: #00000070;
}


.form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
}

.formId, .formPsw{
    padding: 0.7em;
    outline: 1px solid #CFCFCF;
    border-radius: 3px;
    border: none;
}

.bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    place-content: space-between;
    margin-top: -1em;
}

.checkbox{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.checkboxInput{
    width: 20px;
}

.checkboxLabel{
    margin-top: 3px;
}

.loginButton{
    padding: 0.5em 5em;
    place-self: center;
    border: none;
    background-color: #940202;
    color: #fff;
    margin-top: 1em;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.footerText{
    position: absolute;
    bottom: 1em;

}