
.sidebarContainer{
    display: grid;
    height: 100dvh;
    width: 5dvw;
    max-width: 5dvw !important;
    background-color: var(--primary);
    position: fixed;
    left: 0;
    top:0;
    z-index: 5;
    grid-template-areas:
    "logo"
    "options"
    "options"
    "options"
    "options"
    "options"
    "options"
    "logoff";
    grid-template-rows: repeat(8,1fr);
    border-right: 1px solid #b6b6b6;

    
}

.sidebarContainer > *{
    font-family: var(--font-merriweather), "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-content: center;
    place-items: center;
    width: 5dvw;
    max-width: 5dvw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.288);
    max-height: 12.5dvh;
    
}

.selectedBar{
    background-color: #ffffff;
    width: 2px;
    height: calc(100dvh * 0.75 * 0.15);
    position: absolute;
    left: 0;
    transition: all 0.2s ease-in-out;
}


.subText{
    color: #fff;
    font-size: 1dvw;
}

.iconImage, .logOffLogo{
    width: 50%;
    height: 50%;
}

.logOffText{
    color: #fff;
    font-size: 1dvw;
}


@media only screen and (max-width: 1050px) {

   .subText { 
      display:none
   }

   .iconImage{
    width: 75%;
    height: 75%;
    }

}

.logo{
    font-size: 0;
    object-fit: contain;
    grid-area: logo;
    height: 100%;
    background-color: #fff;
    max-height: 12.5dvh;
    max-width: 5dvw;
    padding: 0.5em;
    position: relative;
    & .logoImage{
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        transition: left 0.4s ease-in-out;
    }
}

.optionsContainer{
    grid-area: options;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    place-content: start !important;
}

.dashboard, .history, .soli .account{
    height: 15%;
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 2;
    &:hover{
        cursor: pointer;
    }
}

.dashboard *, .history *, .soli *, .account *{
    z-index: 1;
    text-align: center;


}



.logoff{
    background-color: var(--primary-disabled);
    border-right: 1px solid #b6b6b6;
    cursor: pointer;
}




.solicitudeSideBar{
    font-family: var(--font-merriweather), "Merriweather Sans", sans-serif;
    display: grid;
    height: 100dvh;
    width: 9dvw;
    top: 0;
    background-color: var(--primary);
    position: fixed;
    z-index: 4;
    border-right: 1px solid #c4c4c4;
    grid-template-rows: repeat(8,1fr);
    grid-template-areas: 
    "logoSpace"
    "SSSContent"
    "SSSContent"
    "SSSContent"
    "SSSContent"
    "SSSContent"
    "SSSContent"
    "SSSContent";
    transition: left 0.2s ease-in-out;
    
}

.sidebarContainer >*{
    max-height: 12.5dvh;
    font-family: var(--font-merriweather), "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    max-width: 5dvw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.288);
}

.logoSpace{
    background-color: #fff;
}

.SSScontent{
    display: flex;
    place-content: center;
    place-items: center;
    color: white;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.288);
    transition: all 0.2s ease-in-out;
    font-size: 0.91dvw;
        &:hover{
            cursor: pointer;
            background-color: var(--primary-selected);
        }
}
