/*#region Estilo general del formulario*/
.body{
    background-color: #E8E8E8;
    min-height: 100dvh;
    font-family: var(--font-martel), "Martel Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 5dvw;
    height: fit-content;
}

@media screen and (max-width: 480px) {

    .body{
        margin-left: 0;
    }
}