
:root{
    --primary: #940202;
    --primary-selected: #6d0000;
    --primary-disabled: #802626;
}

[data-theme='red'] {
    --primary: #940202;
    --primary-selected: #6d0000;
    --primary-disabled: #802626;
}


[data-theme='blue'] {
  --primary: #1D2958;
  --primary-selected: #131f4d;
  --primary-disabled: #777C8F;
}