/*#region*/
.body{
    background-color: #E8E8E8;
    min-height: 100dvh;
    height: 100dvh;
    font-family: var(--font-martel), "Martel Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5dvw;
}

.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
}

.cardcontainer{
    background-color: #ffffff;
    border: 1px solid #E9E9E9;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.08);
    padding: 2dvw;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.cardname{
    background-color: var(--primary);
    color: #ffffff;
    padding: 0.8rem 2rem;
    border-radius: 6px;
    width: max-content;
    position: relative;
    top: 1.5rem;
    right: 1.5rem;
}

.cardheaderimg{
    width: 100%;
    height: 5rem;
    margin-left: 0.3rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.form_container{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 16px;
}

.form_container h1{
    color: #434343;
    -webkit-text-stroke: 1px #000; /* Para Chrome, Safari, Edge */
    text-stroke: 1px #000;         /* Para otros navegadores (soporte limitado) */
    font-size: 1.5rem;
    padding: 0.7rem 0;
    text-align: center;
}

.form_container p{
    text-align:justify;
    font-size: 0.8rem;
}

.form_container p span{
    font-weight: 600;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form_row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/*#endregion*/

.justificationcontainer{
    display: flex;
    gap: 1.8rem;
    font-weight: bold;
}

.justificationcontainer select, .inputdatecontainer input, .reasoncontainer select, .explanation{ /*Estilo general inputs*/
    font-family: var(--font-karla),'Karla',sans-serif;
    border: none;
    outline: 1px solid #ccc;
    font-size: 1rem;
    background: #fff;
    padding: 0.2rem 0.2rem;
    padding-right: 1.5rem;
    box-shadow: inset 6px 10px 16px -10px rgba(0, 0, 0, 0.357); /* Sombra arriba */
    position: relative;
}

.reasoncontainer select{ /*Estilo general selects*/
    appearance: none; /* Quita la flecha por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0 .6em;
}

.inputdatecontainer{
    position: relative;
    display: flex;  
}

.inputdatecontainer span{
    position: relative;
    display: flex;  
}

.inputdatecontainer label{
    font-weight: 600;
    margin-right: .5rem;
}

.inputdatecontainer input{
    font-weight: bold;
}

.inputdatecontainer input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

.inputdatecontainer input[type="date"]::-moz-calendar-picker-indicator { /*otros navegadores*/
    opacity: 0;
    display: none;
}

.inputdate_calendar{
    position: absolute;
    right: 0.4rem;
    top: 50%;
    transform: translateY(-50%);
}

.absent_timecontainer{
    display: flex;
    gap: 1.5rem;
}

.isThere_attachement, .absencescontainer, .leavinghour_container{
    display: flex;
    gap: .8rem;
}

.isThere_attachement input, .absent_timecontainer input{
    accent-color: var(--primary);
}
.isThere_attachement input, .justificationcontainer input{
    margin-right: 5px;
}


.form_timecontainer, .reasoncontainer{
    display: flex;
    
}

.form_timecontainer{
    place-items: center;
}
.absent_time_inputcontainer{
    gap: 5px;
    display: flex;
    flex-direction: row;
    vertical-align: baseline;
    place-items: baseline;
}
.absencescontainer input, .leavinghour_container input{
    width: 30px;
    border: none;
    border-bottom: 2px solid #222;
    text-align: center;
    background: transparent;
    outline: none;
    margin: 0 .3rem;
}
.leavinghour_container{
    display: flex;
    margin-left: 1.5em;
    gap: .3em;
}
.typeconvocatorycontainer{
    display: flex;
    gap: .8em;
}

.typeconvocatorycontainer input{
    accent-color: var(--primary);
    margin-right: .6rem;
}

.evidence{
    display: flex;
    gap: 0.6em;
    font-weight: bold;
    font-style: italic;
    color: #616161;
}

.evidence input{
    display: none;
}

.evidence_label{
    background-color: var(--primary);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    position: relative;
    bottom: 0.35rem;

    &:hover{
        cursor: pointer;
        background-color: var(--primary-selected);
    }
}

.evidence_link{
    color: blue;
    font-weight: 100;
    text-decoration: underline;
}

.input_name{
    background-color: var(--primary);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

    &:hover{
        cursor: pointer;
        background-color: var(--primary-selected);
    }
}

.explanation{
    width: 100%;
}

.buttonscontainer{
    display: flex;
    gap: 2.5em;
    justify-content: flex-end;
}
.buttonscontainer button{
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.7rem 2.8rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
}
.buttonscontainer button:hover, .submitpass:hover{
    background-color: var(--primary-selected);
}

/*#region PopUp Manejar*/

.popUpContainer{
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.226);
    left: 0;
    top: 0;
    z-index: 200;
    display: flex;
    place-content: center;
    place-items: center;
}

.popUpCard{
    max-width: 1100px;
    background-color: #fff;
    width: 80dvw;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.137);
    box-shadow: 0 6px 5px 0px rgba(0,0,0,0.33);
    -webkit-box-shadow: 0 6px 5px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0 6px 5px 0px rgba(0,0,0,0.33);
    display: flex;
    flex-direction: column;
    padding: 32px;
    font-size: 16px;
    place-content: space-between;
    gap: 36px;

}

.popUpCard span{
    font-weight: bold;
}

.datePopUp{
    display: flex;
    gap: 6px;
    place-self: center;
    place-items: center;
}

.radioContainerPopUp{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    place-content: center;
    flex-wrap: wrap;
}

.radioPopUp{
    display: flex;
    flex-direction: row;
    align-items: baseline;

    gap: 6px;
    flex: 1;
}

.btnPopUp{
    width: 15%;
    font-size: 1.2rem;
    background-color: var(--primary);
    color: #fff;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    place-self: center;
    box-shadow: 0 6px 5px 0px rgba(0,0,0,0.33);
    -webkit-box-shadow: 0 6px 5px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0 6px 5px 0px rgba(0,0,0,0.33);
    transition: all 0.2s ease-in-out;

    &:hover{
        background-color: var(--primary-selected);
        cursor: pointer;
    }
}

.inputContainer{
    display: flex;
    place-content: center;
    gap: 12px;
    width: 100%;
}

.commentResponse{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.commentResponse textarea{
    font-size: 1rem;
    padding: 6px;
}

/*#endregion*/

@media (max-width: 1390px) {
    .body{
        width: 95dvw;
    }
    .container{
        width: 95%;
    }
}

@media (max-width: 1160px) {

    .cardheaderimg{
        width: 100%;
    }

    .body{
        height: 100dvh;
    }
    .container{
        width: 100%;
        height: 100%;
        position: relative;
    }

    .form_container h1{
        font-size: 1.5rem;
    }

    .form_container p{
        font-size: 0.7rem;
    }

    .cardname{
        position: absolute;
        top: 1.5rem;
        left: 50%;
        transform: translate(-50%,0);
        padding: 0.5rem;
    }
    .cardcontainer{
        height: 100%;
        padding-top: 4.5rem;
        padding-bottom: 0;
        place-content: center;
        border: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .form{
        margin: 0;
        padding: 1rem 0;
        place-items: center;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .form > *{
        width: 100%;
    }
    .form_row{
        flex-direction: column;
        gap: 12px;
    }
    .inputdatecontainer{
        width: max-content;
    }

    .buttonscontainer *{
        align-items: center;
        width: 100%;
    }

    .absencescontainer{
        margin: 0;
    }

    .isThere_attachement{
        margin: 0;
    }

    .explanation{
        margin: 0;
    }

    .evidence{
        flex-wrap: wrap;
        text-align: center;
        place-content: center;
        place-items: center;
        margin-bottom: 1rem;
        place-content: start;
    }

    .evidence label{
        bottom: 0;
    }
    .reasoncontainer{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 0;
    }
    .reasoncontainer select{
        width: 100%;
        margin: 0;
        padding: .5rem;
    }


    .explanationcontainer
    {
        margin: 0;
    }

    .inputContainer > *{
        width: 100%;
    }
}

@media (max-width: 560px) {

    .inputdatecontainer{
        height: max-content;
        place-items: center;
    }

    .inputdatecontainer label, .inputdatecontainer input{
        font-size: 0.85rem;
        bottom: 0;
    }

    .inputdatecontainer span img{
        bottom: .2rem;
        width: 13px;
    }

    .justificationcontainer{
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        gap: 12px;
    }

    .inputdatecontainer{
        place-self: center;
    }

    .absent_timecontainer{
        place-content: space-between;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }

    .inputdatecontainer span img{
        bottom: .4rem;
    }

    .evidence{
        gap: 1em;
    }

    .evidence_label{
        font-size: 0.7rem;

    }
}

@media (max-width: 480px) {

    .body{
        width: 100dvw;
        margin: 0;
        min-height: auto;
        height: 92dvh ;
        overflow: hidden scroll;
        background-color: #ffffff;
    }

    .container{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .evidence input{
        height: 40rem;
    }

    .form_container h1{
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    .form{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .inputdatecontainer{
        display: flex;
        flex-direction: column;
        place-self: center;
    }


    .inputdatecontainer, .inputdatecontainer label, .inputdatecontainer input{
        font-size: 1rem;
    }

    .inputdatecontainer{
        gap: 6px;
    }

    .inputdatecontainer span{
        position: relative;
    }

    .inputdatecontainer span img{
        bottom: .4rem;
    }

    .inputradio_container{
        width: 100%;
        font-size: .9rem;
        place-self: center;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        place-content: space-around;
    }

    .inputradio_container label{
        display: flex;
        place-content: center;
        place-items: center;
    }

    .worktimeabsence_container{
        display: flex;
        margin-top: 0;
        align-items: center;
        justify-content: space-between;
    }

    .worktimeabsence_container label, .worktimeabsence_container p{
        font-size: 0.83rem;
        align-items: center;
        display: flex;
        place-content: center;
        place-items: center;
        gap: 6px;
    }


    .worktimeabsence_container input{
        margin: 0;
    }

    .hourcontainer{
        margin-top: 0;
        font-size: 0.85rem;
    }

    .hourcontainer select{
        font-size: 0.85rem;
        bottom: 0;
        height: min-content;
    }

    .absencescontainer{
        margin-top: 0;
    }

    .reasoncontainer{
        gap: 6px;
        margin-top: 0;
    }

    .evidence{
        gap: 24px;
        margin-top: 0;
    }
}