/* #region Estilo general del formulario*/
.body{
    background-color: #E8E8E8;
    min-height: 100dvh;
    font-family: var(--font-martel), "Martel Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5dvw;
}
.container{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.cardcontainer{
    background-color: #ffffff;
    border: 1px solid #E9E9E9;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.08);
    padding: 2dvw 4dvw;
    border-radius: 5px;
}
.cardname{
    background-color: var(--primary);
    color: #ffffff;
    padding: 0.8rem 2rem;
    border-radius: 6px;
    width: max-content;
    position: relative;
    top: 1.5rem;
    right: 1.5rem;
}
.cardheaderimg{
    width: 58rem;
    height: 5rem;
    margin-top: 1.6rem;
    margin-left: 0.3rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.form_container h1{
    color: #434343;
    -webkit-text-stroke: 1px #000; /* Para Chrome, Safari, Edge */
    text-stroke: 1px #000;         /* Para otros navegadores (soporte limitado) */
    font-size: 1.9rem;
    padding: 1.3rem 0;
    text-align: center;
}
/* #endregion Estilo general del formulario*/

