@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.container * {
    font-family: "Merriweather Sans", sans-serif;
}

.container{
    width: 95dvw;
    height: 100dvh;
    margin-left: 5dvw;

}

.dashboardContainer{
    color: var(--primary);
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1em;
    width: 100%;
    height: 100%;
}

.soliCard, .justiCard, .reportCard, .omiCard{
    width: 23.5%;
    height: 100%;

}

.soliContent, .justiContent, .reportContent, .omiContent{
    width: 100%;
    height: 93%;
    border: 1px solid rgba(0, 0, 0, 0.33);
}

.soliFooter, .justiFooter, .reportFooter, .omiFooter{
    width: 100%;
    height: 7%;
    background-color: var(--primary);
    border-radius: 0 0 10px 10px;
    display: flex;
    place-content: center;
    place-items: center;
    text-align: center;
    gap: 1em;
    cursor: pointer;
}
.soliFooter:hover, .justiFooter:hover, .reportFooter:hover, .omiFooter:hover{
    background-color: var(--primary-selected);
} 
.footerText{
    font-size: 1.3dvw;
    color: #fff;
}

.cardsContainer{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.informationcontainer{
    border-bottom: 1px solid rgba(0, 0, 0, 0.33);
    padding: .8rem 1.3rem .2rem .7rem;
}
.information_upperpart{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.information_upperpart p, .information_upperpart span{
    font-family: 'Karla',sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
.information_upperpart p{
    color: var(--primary);
    font-size: 1.2em;
}
.information_upperpart span{
    margin-top: .2rem;
    color: #000000;
}

.information_lowerpart{
    display: flex;
    justify-content: space-between;
    margin-top: 1.1rem;
}
.information_lowerpart p{
    font-weight: 600;
}
.clockcontainer{
    display: flex;
    gap: .25rem;
}
.clockicon{
    position: relative;
    bottom: .18rem;
}
.clockcontainer p{
    color: #616161;
    font-weight: 600;
}
/* #region Historial vacio estilo*/
.null_informationcontainer p{
    color: #616161;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.nullicon{
    width: 6rem;
    height: auto;
}
/*#endregion*/

